Werkzeug==3.1.3
folium==0.19.4
sigstore-rekor-types==0.0.18
cryptography==44.0.0
absl-py==2.1.0
pycparser==2.22
grpclib==0.4.7
tensorboard==2.18.0
hyperframe==6.1.0
model-signing==0.2.0
sigstore-protobuf-specs==0.3.2
grpcio==1.70.0
kagglehub==0.3.7
h2==4.2.0
cycler==0.12.1
id==1.5.0
email_validator==2.2.0
cffi==1.17.1
pexpect==4.9.0
pyOpenSSL==25.0.0
in-toto-attestation==0.9.3
betterproto==2.0.0b6
pyasn1==0.6.1
tensorboard-data-server==0.7.2
decorator==5.1.1
rfc3161-client==0.1.2
xyzservices==2025.1.0
geopy==2.4.1
rfc8785==0.1.4
ptyprocess==0.7.0
branca==0.8.1
parso==0.8.4
hpack==4.1.0
PyJWT==2.10.1
tuf==5.1.0
sigstore==3.6.1
securesystemslib==1.2.0
geographiclib==2.0
dnspython==2.7.0
pydantic==2.11.3
kiwisolver==1.4.5
platformdirs==4.3.7
wcwidth==0.2.13
MarkupSafe==2.1.5
huggingface-hub==0.30.1
six==1.16.0
asttokens==2.4.1
typer==0.12.3
Deprecated==1.2.14
python-dateutil==2.9.0.post0
nvidia-cuda-runtime-cu12==12.1.105
smmap==5.0.2
numpy==1.26.4
matplotlib==3.9.0
nvidia-cusparse-cu12==12.1.0.106
nvidia-cublas-cu12==12.1.3.1
urllib3==2.2.1
torchvision==0.18.0
exceptiongroup==1.2.2
aiohappyeyeballs==2.6.1
aiosignal==1.3.2
ipython==8.35.0
imageio==2.34.1
colorama==0.4.6
rich==13.7.1
attrs==25.3.0
aiohttp==3.11.16
GitPython==3.1.44
mdurl==0.1.2
frozenlist==1.5.0
sympy==1.12
tokenizers==0.21.1
tifffile==2024.5.10
pydantic_core==2.33.1
scipy==1.13.0
humanize==4.9.0
nvidia-cusolver-cu12==11.4.5.107
fonttools==4.51.0
wrapt==1.16.0
traitlets==5.14.3
dill==0.3.8
pynrrd==1.0.0
typing_extensions==4.13.2
setproctitle==1.3.5
shellingham==1.5.4
nvidia-cuda-nvrtc-cu12==12.1.105
nibabel==5.2.1
tqdm==4.66.4
jedi==0.19.2
markdown-it-py==3.0.0
tensorboardX==2.6.2.2
packaging==24.0
datasets==3.5.0
scikit-image==0.18.3
opencv-python==4.9.0.80
certifi==2024.2.2
pytz==2024.1
PyYAML==6.0.1
Pygments==2.18.0
safetensors==0.4.3
nvidia-curand-cu12==10.3.2.106
matplotlib-inline==0.1.7
multiprocess==0.70.16
multidict==6.3.2
xxhash==3.5.0
nvidia-cuda-cupti-cu12==12.1.105
nptyping==2.5.0
propcache==0.3.1
stack-data==0.6.3
nvidia-nvtx-cu12==12.1.105
SimpleITK==2.3.1
pyarrow==19.0.1
timm==1.0.3
einops==0.8.0
transformers==4.51.0
setuptools==75.8.0
contourpy==1.2.1
nvidia-cufft-cu12==11.0.2.54
torchio==0.19.6
psutil==7.0.0
docker-pycreds==0.4.0
prompt_toolkit==3.0.50
icecream==2.1.3
executing==2.0.1
annotated-types==0.7.0
pip==25.0
charset-normalizer==3.3.2
protobuf==5.29.4
async-timeout==5.0.1
wandb==0.19.9
regex==2024.11.6
yarl==1.19.0
pyparsing==3.1.2
triton==2.3.0
idna==3.7
gitdb==4.0.12
tzdata==2024.1
opencv-python-headless==4.9.0.80
sentry-sdk==2.25.1
segment-anything==1.0
slicerio==1.0.0
Jinja2==3.1.4
filelock==3.14.0
pandas==2.2.2
pure_eval==0.2.3
networkx==3.3
nvidia-nvjitlink-cu12==12.5.40
torch==2.3.0
seaborn==0.13.2
PyWavelets==1.6.0
pillow==10.3.0
monai==1.3.1
typing-inspection==0.4.0
mpmath==1.3.0
accelerate==1.6.0
requests==2.32.3
click==8.1.7
fsspec==2024.5.0
wheel==0.45.1
nvidia-nccl-cu12==2.20.5
nvidia-cudnn-cu12==8.9.2.26
inflect==7.3.1
backports.tarfile==1.2.0
more-itertools==10.3.0
importlib_metadata==8.0.0
platformdirs==4.2.2
wheel==0.43.0
tomli==2.0.1
jaraco.collections==5.1.0
typeguard==4.3.0
packaging==24.2
jaraco.functools==4.0.1
jaraco.text==3.12.1
jaraco.context==5.3.0
zipp==3.19.2
autocommand==2.2.2
typing_extensions==4.12.2
